.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
}
.note-card{
    background-color: white;
    padding: 30px;
    border: 1px solid grey;
    border-radius: 6px;
    margin: 10px;
    box-shadow: 0 4px 4px 0 grey;
    /* max-width: 55em; */
}

.notesContainer{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.noteCard{
    border: 1px solid rgb(217, 213, 213);
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    height: auto;
    width: 250px;
    box-shadow: 0 2px 2px 0 grey;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contents{
    /* border: 2px solid rgb(0, 4, 255); */
    display: flex;
}
.pinned{
    /* border: 2px solid black; */
    display: flex;
    justify-content: flex-end;
    width: 20%;
}
.pinned img{
    width: 30px;
    height: 30px;
    /* border: 1px solid red; */

}
.content{
    display: flex;
    flex-direction: column;
    margin-bottom: 15%;
    /* margin-left: 4%; */
    /* margin-top: 2%; */
    /* border: 1px solid red; */
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-weight: 400;
    width: 80%;
}
.bottom{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}