.container{
    /* border: 2px solid red; */
    display: flex;
    width: 70%;
    height: 400px;
    margin: auto;
    margin-top: 80px;
    background-color: white;
    border-radius: 25px;
    justify-content: space-between;
}
.lbox{
    /* border: 2px solid black; */
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-left: 6%;
}
.logo{
    display: flex;
    height: 50px;
    width: 50px;
}
.signIn{
    display: flex;
    /* border: 2px solid red; */
    height: 22%;
    align-items: center;
    font-size: 40px;
}
.title{
    display: flex;
    color: #444746;

}


.rbox{
    /* border: 2px solid black; */
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 11%;
    margin-right: 6%;
}
.rbox a{
    color: #0b57d0;
    text-decoration: none;
    font-size: 14px;
}

  
.fieldset{
    color: #0b57d0;
    border-color: #0b57d0;
    border-radius: 5px;
}
.fieldset input{
    border: none;
    outline: none;
    width: 100%;
}
.content{
    /* border: 2px solid red; */
    font-size: 14px;
    margin-top: 15%;
    color: #444746;
    /* padding: 9px 0px 3px; */
}
.buttons{
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-end;
    height: 12%;
    margin-top: 14%;
}
.createBtn{
    /* border: none; */
    width: 35%;
    color: #0b57d0;
    font-weight: bold;
    background-color: white;
    border: none;
    /* height: 12%; */
}
.nextBtn{
    width: 20%;
    margin-left: 2%;
    border-radius: 20px;
    background-color: #0b57d0;
    color: white;
    font-weight: bold;
    border: none;
}

.extras{
    /* border: 2px solid red; */
    width: 68%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    font-size: 13px;
}

.dropdown{
    /* border: 2px solid red; */
    background-color: rgba(218, 211, 211, 0.192);
    border: none;
}
.more{
    display: flex;
    width: 26%;
    justify-content: space-between;
    color: #444746;

}