<div class="container">
  <div class="lbox">
    <img class="logo" src="../assets/logo.jpg" alt="logo">
    <span class="signIn">Sign in</span>
    <span class="title">Use your Google Account</span>
  </div>
  <div class="rbox">
    <fieldset class="fieldset">
      <legend>Email or phone</legend>
      <input type="text">
    </fieldset>

    <!-- <mat-form-field>
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field> -->


    <br>
    <a href="">Forgot email?</a>

    <div class="content">
      <span>Not your computer? Use Guest mode to sign in privately.</span>
      <br>
      <a href="">Learn more about using Guest mode</a>
    </div>

    <div class="buttons">
      <button class="createBtn">Create account</button>
      <button class="nextBtn">Next</button>
    </div>
  </div>
</div>

<div class="extras">
  <div class="language">
    <select class="dropdown">
      <option>English (United States)</option>
      <option>English (United States)</option>
      <option>English(United States)</option>
      <option>English(United States)</option>
      <option>English(United States)</option>
      <option>English(United States)</option>
    </select>
  </div>
  <div class="more">
    <span>Help</span>
    <span>Privacy</span>
    <span>Terms</span>
  </div>
</div>


<script>
  function showFieldset() {
    document.querySelector('.input-box').style.display = 'none';
    document.querySelector('.input-fieldset').style.display = 'block';
  }
</script>