<div class="sidenav-container" *ngIf="isVisible">
    <div class="element">
        <img src="../assets/sidebar/notes.svg" alt="logo">
        <span>Notes</span>
    </div>
    <div class="element">
        <img src="../assets/sidebar/reminders.svg" alt="logo">
        <span>Reminders</span>
    </div>
    <div class="element">
        <img src="../assets/sidebar/tag.svg" alt="logo">
        <span>hjjh</span>
    </div>
    <div class="element">
        <img src="../assets/sidebar/edit.svg" alt="logo">
        <span>Edit labels</span>
    </div>
    <div class="element">
        <img src="../assets/sidebar/archive.svg" alt="logo">
        <span>Archive</span>
    </div>
    <div class="element">
        <img src="../assets/sidebar/trash.svg" alt="logo">
        <span>Trash</span>
    </div>
</div>